body{
  font-family: 'Marvel', sans-serif;
  font-size: 18px;
  margin: 20px 20px 20px 20px;
}

.content-rigth{
  width: 70%;
  float:left;

}

.summary{
  width: auto;
  float: left;
}

a, span{
  padding-right: 15px;
  padding-left: 15px;
}
